<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/events">Event Lister</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/events">Event Listing</a></li>
      <li><a href="#!/form">Add An Event</a></li>
    </ul>
  </div>
</nav>

<h1 class="text-center">Add An Event</h1>
<div>
  <form class ="container" ng-model="event" ng-submit="insertEvent(event)">
    <div class="form-group">
      <label>Event Name</label>
      <input ng-model="event.name" type="text" class="form-control" placeholder="Add event name...">
    </div>
    <div class="form-group">
      <label>Event Time & Date</label>
      <input ng-model="event.date" type="datetime-local" class="form-control">
    </div>
    <div class="form-group">
      <label>Venue</label>
      <input ng-model="event.venue" type="text" class="form-control" placeholder="Add venue name...">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input ng-model="event.address" type="text" class="form-control" placeholder="Add address...">
    </div>
    <div class="form-group">
      <label>Additional Information</label>
      <textarea ng-model="event.description" class="form-control" rows="6" placeholder="Add any additional information here"></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-lg btn-block">Submit Event</button>
  </form>
</div>
