body {
  font-family: 'Bree Serif', serif;
  padding-top: 20px;
  background-color:  #828282;
}

.header {
  color: #ecebe8;
  text-shadow: 2px 2px #636363;
}

.flyer{
  height: 125px;
  background-image: url('https://images.sk-static.com/images/media/profile_images/artists/8830684/huge_avatar');
}

.form-control {
  background-color: #ecebe8;
}

.glyphicon-pencil {
  color: #196DC7;
}

.glyphicon-remove {
  color: #AD4030;
}

.list-group-item {
  background-color: #ecebe8;
}

.shadow {
  box-shadow: 2px 2px 5px 3px #636363;
}
